* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding-top: 80px;
    /* ヘッダーの後ろに要素が隠れないようにするため */

}

header {
    width: 100%;
    /* 幅いっぱいを指定 */
    height: 80px;
    /* 高さを50pxに指定 */
    background: #ffffffbb;
    /* 背景色にグレーを指定 */
    padding: 20px 50px;
    /* ヘッダーに上下左右それぞれ余白を指定 */
    position: fixed;
    /* ウィンドウを基準に画面に固定 */
    top: 0;
    /* 上下の固定位置を上から0pxにする */
    left: 0;
    /* 左右の固定位置を左から0pxにする */
    align-items: center;
    /* 中の要素を上下中央に並べる */
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
}

header nav {
    position: absolute;
    right: 40px;
}

.link {
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 15px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.logo {
    margin-top: 0px;
    margin-left: 0px;
}

main {
    font-family:
        "PUDShinGoPr6N-Medium", PUDShinGoPr6N;
}

section {
    width: 80%;
    margin: 0 auto;
}

.content {
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.flex {
    display: flex;
}

.flexContent {
    flex-basis: 10%;
    flex-grow: 1;
    margin: 3vw;
}

.pic {
    width: 100%;
    align-items: center;
}

footer {
    width: 100%;
    /* 幅いっぱいを指定 */
    height: 80px;
    /* 高さを50pxに指定 */
    padding-top: 10px;
    margin-top: 3vw;
    background: #aaaaaa;
    /* 背景色にグレーを指定 */
    text-align: center;
}

small {
    color: #fff;
}